<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
/>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create Event</h1>
            <hr>
            <form action="/events/create" method="post">
                <label for="eventTitle">Title</label>
                <input type="text" name="eventTitle" class="form-control" id="create-event-title">
                <label for="eventImageUrl">Image Url</label>
                <input type="text" name="eventImageUrl" class="form-control" id="create-event-ImageUrl">
                <label for="eventLocation">Verified Locations</label>
                <select name="eventLocation" class="form-control" id="exampleFormControlSelect1">
                    <option>SFPL Main Library- 100 Larkin St, San Francisco, CA 94102</option>
                    <option>UCSF Library - 530 Parnassus Ave , San Francisco, CA 94143</option>
                    <option>“101 Second St Atrium” - 101 2nd St, San Francisco, CA 94105</option>
                    <option>SFPL Mission Branch- 300 Bartlett Street San Francisco, CA 94110</option>
                    <option>Starbucks - 3595 California St (Laurel Heights) SF CA</option>
                </select>
                <label for="eventTime">Date & Time</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="eventTime" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <label for="eventBio">Information</label>
                <textarea name="eventBio" id="create-event-bio" class="form-control" cols="30" rows="10"></textarea>
                <input type="submit" class="btn btn-success" value="Create Event">
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>