<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Study Up! is an app that helps students find study groups nearby!</h1>
          <!--How to get a border for this button in bootstrap? -->
          <a href="/events/list-events" class="btn btn-outline btn-xl js-scroll-trigger">View current events in the SF Bay
            Area!</a>
          <!-- Which class to use for below paragraphs to get same text as above? -->
          <p "mb-5">Whether you are taking an online course or just studying something new on your own, it can be very helpful
            to get a talk through challenging topics and bounce ideas off of similarly inquisitive minds. </p>
          <p>Study Up! offers a platform for connecting face-to-face with individuals who are learning the same material.
            </p>
          <p>Study Up! meetups occur in pre-selected, public, and safe locations, with an option for Outdoor Meetings for
            sessions that do not require outlets/Wi-Fi.</p>
          <p>Study Up! is currently limited to San Francisco locations, but we are hoping to expand to additional cities
            and study areas soon!!</p>
          <br>
          <a href="/profile/create" class="btn btn-outline btn-xl js-scroll-trigger">Create Your Study Up! Account Today
            to Create and Join Events!</a>
        </div>
      </div>


      <!-- Is this info below just from a template? Or related to our site at all??-->
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                {{!--
                <p> Events in your Area!! </p> --}}
                <!-- Cards showing created events? Pull from DB/ dummy -->
                <!-- Should we create events so this shows? Or we can also just have examples here for the types of sessions that can be hosted here  -->

                <img src="https://dihmh4v20db76.cloudfront.net/7d50f3b0fdc8f3e70f6d725c1e02d3fd%2F565x0xwidth%2F75%2Fhttp%2Fblog.uloop.com%2Fuloop%2Fr%3D305%2Fjpg%2Fwp-content%2Fuploads%2F2016%2F05%2F12.jpg"
                  width="450">
                <p>^ You could be having this much fun!! ^</p>
              </div>
              <div class="button">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>